/* //////////////////      APP     ////////////////////////////// */
#app-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

/*///////////////////////   NAVBAR    ///////////////////////////////////////////////// */

#navbar-container{
  position: fixed;
  top: 0%;
  display: flex;
  width: 100%;
  height: 8%;
  align-items: center;
  justify-content: end;
  background-color: aliceblue;
  z-index: 10000;
  background-color: #1A2966;
  color: white;
}

.navLink{
  position: relative;
  font-size: larger;
  text-decoration: none;
  padding-right: 2%;
  padding-left: 1%;
  color: white;
  font-weight: bold;

}

#selected-to-home{
  position: relative;
  font-size: larger;
  padding-right: 2%;
  padding-left: 1%;
  color: white;
  font-weight: bold;
}

#selected-to-portfolio{
  position: relative;
  font-size: larger;
  padding-right: 2%;
  padding-left: 1%;
  color: white;
  font-weight: bold;
}

#selected-to-about{
  position: relative;
  font-size: larger;
  padding-right: 2%;
  padding-left: 1%;
  color: white;
  font-weight: bold;
}

/* ////////////////////////      CONTACT BAR         ///////////////////////////////// */

#contact-bar{
  position: absolute;
  bottom: -605px;
  flex-grow: 1;
  justify-content: 'flex-end';
  width: 100%;
  height: 11%;
  background-color: #1A2966;
}

#contact-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-item{
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
  font-weight: bolder;
  color: white
}

.logo-link{
  position: relative;
  width: 50px;
  height: 50px;
  top: 0px;
}

/* ///////////////////////      HOME          //////////////////////////////////// */


#home-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 3%;
}


#home-intro{
  position: relative;
  align-self: flex-start;
  width: 80%;
  top: 30%;
  left: 5%;
  background-color: #9BA9E0;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  color: white;
}

#home-about{
  position: relative;
  align-self: center;
  word-wrap: normal;
  width: 80%;
  top: 60%;
  background-color: #9BA9E0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  color: white;
  font-size: medium;
}

#home-experience{
  position: relative;
  width: 80%;
  top: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#home-projects{
  position: relative;
  align-self: center;
  width: 80%;
  top: 120%;
  background-color: #7088E6;;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  color: white;
  
}

#home-blogs{
  position: relative;
  align-self: flex-start;
  width: 80%;
  height: 25%;
  left: 5%;
  background-color: #1A2966;;
  top: 150%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  color: white;
}

#home-about-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

#home-about-text{
  position: relative;
  align-self: flex-start;
  width: 60%;
  height: 100%;
  font-size: smaller;
  top: 0%;
}

#home-page-img{
  position: relative;
  display: flex;
  right: 2%;
  top: -5%;
  height: 250px;
  width: 175px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}



/* /////////////////////////////                INTERACTIVE RESUME        ////////////////////////////////////////////// */

#home-experience-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 3%;
}

#resume-container{
  position: relative;
  align-self: center;
  background-color: #9BA9E0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  color: white;
  width: 100%;
}

#work-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1%;
  justify-content: center;
}

#work-details{
  position: relative;
  width: 60%;
  min-width: 200px;
  background-color: aliceblue;
  color: #1A2966;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work-details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-button{
  width: 150px;
  height: 60px;
  font-size: 11px;
  margin-bottom: 4%;
  border: none;
  cursor: pointer;
}

#work-title{
  align-self: center;
  justify-self: center;
}

.work-details{
  align-self: flex-start;
  margin: 2%;
}

/* ////////////////////////////////////////////////////////// */



#home-featured-projects-container{
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;

}

#home-featured-project-item{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  width: 300px;
  height: 275px;
  background-color: #1A2966;
  margin: 2%;
  font-size: 12px;
}

#home-project-title{
  position: relative;
  font-size: 14px;
  top: 4%;
}

.home-project-link{
  position: relative;
  font-size: 10px;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 20%;
  margin-bottom: 10%;
  color: white
}



.home-link{
  color: lightgreen;
  position: relative;
  cursor: pointer;
}

#home-contact-bar{
  position: absolute;
  bottom: -2650px;
  flex-grow: 1;
  justify-content: 'flex-end';
  width: 100%;
  height: 11%;
  background-color: #1A2966;
}

/* /////////////////////////////        PORTFOLIO           ////////////////////////////////////// */

#portfolio-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#projects-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 30%;
  justify-content: center;
  align-items: center;
}

.project-item{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: #7088E6;
  top: 6%;
  margin: 3%;
  justify-content: center;
  align-items: center;
}

#project-links-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link{
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  color: white
}

/* /////////////////////////////         ABOUT            ///////////////////////////////////////// */

#about-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#about-me{
  position: relative;
  display: flex;
  top: 20%;
  width: 80%;
  height: 25%;
  /* left: 5%; */
  background-color: #7088E6;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-weight: bold;
  color: white;
}

#about-work{
  position: relative;
  display: flex;
  width: 80%;
  height: 25%;
  top: 40%;
  /* left: 5%; */
  background-color: #7088E6;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-weight: bold;
  color: white;
}

#about-hobbies{
  position: relative;
  display: flex;
  width: 80%;
  height: 25%;
  top: 60%;
  /* left: 5%; */
  background-color: #7088E6;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-weight: bold;
  color: white;
}