/* //////////////////      APP     ////////////////////////////// */
#app-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: aliceblue;
}

/*///////////////////////   NAVBAR    ///////////////////////////////////////////////// */

#navbar-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: end;
  background-color: white;
}

.navLink{
  position: relative;
  font-size: larger;
  text-decoration: none;
  padding-right: 2%;
  padding-left: 1%;

}

/* ////////////////////////      CONTACT BAR         ///////////////////////////////// */

#contact-bar{
  position: relative;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: darkblue;
}

#contact-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-item{
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bolder;
  color: white
}

/* ///////////////////////      HOME          //////////////////////////////////// */


#home-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: aliceblue;
}

#home-title{
  position: relative;
  align-self: center;
  justify-self: center;
}

#home-page-img{
  position: relative;
  align-self: flex-start;
  display: flex;
  left: 5%;
  top: 5%;
  height: 60%;
  width: 20%;
  background-color: white;
  justify-content: center;
}

#home-about{
  position: relative;
  align-self: flex-end;
  width: 50%;
  height: 25%;
  top: -15%;
  right: 5%;
  background-color: yellowgreen;
}

#home-projects{
  position: relative;
  align-self: flex-end;
  width: 50%;
  height: 25%;
  top: -10%;
  right: 5%;
  background-color: orchid;
}

/* /////////////////////////////        PORTFOLIO           ////////////////////////////////////// */

#portfolio-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: aliceblue;
}

#projects-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  top: 10%;
}

/* /////////////////////////////         ABOUT            ///////////////////////////////////////// */

#about-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: aliceblue;
}