@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4;
  display: flex;
  scroll-behavior: smooth;
  background-color: #F7F7F9;
  transition: "all .5s ease";
  height: fit-content;
}
